:root {
  --buttons: #05386B;
  --header-backgrounds: #0A2540;
}

* {
  box-sizing: border-box;
}

.App {
  font-family: 'Raleway', sans-serif;
  background-color: var(#f8f8f8);
}

.container {
  max-width: 80vw;
  margin: 0 auto;
}

.btn {
  outline: none;
  border: none;
  border-radius: 5px;
}

button:active {
  background:#057ff8;
  -webkit-box-shadow: inset 0px 0px 7px #bbbbbb;
     -moz-box-shadow: inset 0px 0px 7px #bbbbbb;
          box-shadow: inset 0px 0px 7px #bbbbbb;
   outline: none;
}

.btn:hover {
  cursor: pointer;
}
/* Header Section */

.site-header {
  background-color: var(--header-backgrounds);
  height: 7vh;
  width: 100%;
}

.site-title {
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 7vh;
  color: white;
  font-size: 1.1rem;
}


/* Recipe Container */

.recipe-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  background-color: #F6F9FC;
  padding-top: 15px;
  padding-bottom: 65px;
  border-radius: 10px;
  position: relative;
  width: 80vw;
  box-shadow: 3px 3px 7px 0.8px rgb(0,0,0,0.1);
}

.recipe-container hr {
  position: absolute;
  bottom: 60px;
  left: 15px;
  width: 80%;
  background-color: rgb(0,0,0, 0.1);
  border: none;
  height: 1px;
  margin-left: 10px;
}


.meal-name {
  text-align: center;
  margin: 10px auto;
  font-size: 1.3rem;
  font-weight: bold;
  max-width: 70%;
}

.recipe-link {
  margin: 0 auto;
  margin-bottom: 15px;
}

.recipe-img {
  height: 150px;
  width: 150px;
}

.ingredient-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.ingredient-list {
  list-style: none;
}

.ingredients {
  margin-left: 35px;
}

.button-container {
  text-align: center;
  bottom: 10px;
  width: 200px;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  position: absolute;
  bottom: 10px;
  left: 75px;
}

.add-btn {
  padding: 10px 15px;
  background-color: var(--buttons);
  color: #fff;
}

.add-btn:hover {
  background-color: #03498f;
}

.user-btns {
  margin: 0 auto;
}

.edit-btn {
  margin-left: 10px;
}
/* User Recipe Welcome */

.user-recipes {
  font-size: 1.8rem;
  text-align: center;
  margin-top: 15px;
  background-color: var(--header-backgrounds);
  color: white;
  height: 5vh;
  line-height: 5vh;
  border-radius: 15px;
}

.user-recipe-container {
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  min-height: 30vh;
  width: 90vh;
}

/* Name Form */

.name-form {
  margin: 0 auto;
  margin-bottom: 10px;
}

.name-form input {
  height: 35px;
  background-color: #edf5e1;
  border: 1px solid #05386B;
}

/* Favorite Button Star */

.favorite-btn {
  position: absolute;
  top: 3px;
  right: 10px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 2rem;
}

.favorite:hover {
  cursor: pointer;
}

.favorite {
  color: red;
}

/* Filter Form */

.filter-form {
  text-align: center;
  margin: 15px auto;
}

.filter-label {
  margin-right: 10px;
}

.filter-btn {
  background-color: var(--buttons);
  color: white;
  margin-left: 10px;
}

.filter-btn:hover {
  background-color: #024a92;
}

.message-section {
  width: 90%;
  margin: 0 auto;
}

footer {
  height: 6vh;
  margin-top: 20px;
}

footer hr {
  width: 50vh;
  border-color: rgb(182, 182, 182);
}

footer h3 {
  text-align: center;
}

@media(min-width: 800px) {
  .site-title {
    font-size: 1.5rem;
  }
  footer hr {
    width: 65vh;
  }
}

@media(min-width: 950px) {
  .site-title {
    font-size: 2rem;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100vh;
  }
  .recipe-container {
    width: 375px;
    margin-left: 10px;
  }
  
  .user-recipes-display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  
  }
  .user-recipe-container {
    width: 75vw;
  }
  footer hr {
    width: 80vw;
  }
}

